PASSWORD_HASH=some_random_secret_key
ACCESS_TOKEN_SECRET_KEY=some_random_jwt_secret_key
REFRESH_TOKEN_SECRET_KEY=some_random_jwt_secret_key

MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_DB_NAME=shipment_management_api
MONGO_USER=untitled_admin
MONGO_PASSWORD=password